:root{
    --background-color : #040C18;
    --linear-color-1 : #AE67FA;
    --linear-color-2 :  #F49867;
    --text-color : #81AFDD;
    --orange-color : #FF8A71;
    --blue-color : #71E5FF;
    --dark-blue-color : #0F4279;
    --btn-color : #FF4820;
}